// 非衬线体 方正兰亭
@font-face
  font-family 'Vazir'
  src: url('../fonts/Vazir/Vazir.eot'); /* IE9 */
  src: url('../fonts/Vazir/Vazir.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Vazir/Vazir.woff2') format('woff2'),
          url('../fonts/Vazir/Vazir.woff') format('woff'),
          url('../fonts/Vazir/Vazir.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  font-weight 300

$font-family = 'Vazir', Tahoma, Arial